
.front {
    background-color: aquamarine;
}
h1{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 0px;
    font-family: 'Cookie', cursive;
    color: royalblue;
    font-size: 50px;
}
p{
    text-align: center;
    font-size: 20px;
    margin-top: 0px;
    color: #907fa4;
}
.cloud1 {
    height: 10%;
    width: 10%;
    position: relative;
    left: 800px;
    top: 50px;
}
.cloud2 {
    height: 10%;
    width: 10%;
    position: relative;
    left: 350px;
    bottom: 30px;
}
.skill {
    text-align: center;
    margin-top: 20px;
    background-color: ivory;
}
h2{color: #66BFBF;}
h3{color: #66BFBF;}
.Web {
    width: 15%;
    float: left;
    margin: 20px;
}
.first {
    margin: 0 100 100 100;
}
.second {
    margin: 100px;
}
.Program {
    width: 15%;
    float: right;
}
.skills{
    padding: 30px;
    text-decoration: underline;
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-color: lightskyblue;
    border-width: 10px;
    width: 10%;
    margin-top: 50px;
}
.touch {
    text-align: center;
    margin-top: 100px;
}
.btn {
    margin: 30px;
    background: #34d9aa;
    background-image: -webkit-linear-gradient(top, #34d9aa, #2bb890);
    background-image: -moz-linear-gradient(top, #34d9aa, #2bb890);
    background-image: -ms-linear-gradient(top, #34d9aa, #2bb890);
    background-image: -o-linear-gradient(top, #34d9aa, #2bb890);
    background-image: linear-gradient(to bottom, #34d9aa, #2bb890);
    -webkit-border-radius: 9;
    -moz-border-radius: 9;
    border-radius: 9px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 6px 11px 8px 13px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
  .last {
      background-color: #66BFBF;
      text-align: center;
      padding: 50px;
      margin-top: 30px;
      margin-bottom: 0px;
  }
  .links {
      color: #11999E;
      text-decoration: none;
  }
  a{font-size: x-large;}

  a:hover{color: white;}